// Table of Content
// ===============================================
// # General
// # Grid
// # Typography */

// # General
// =============================================== */

// Image Path
$image-path: '../img';

// Page
$page-bg: #fff;

// Width
$width-base: 1110px; // Mainly used for centering
$width-base-main: 1260px;
$width-base-small: 960px;
$width-base-exsmall: 730px;

// Gutters
$gutter-base: 20px;
$gutter-top: 0;
$gutter-right: $gutter-base;
$gutter-bottom: $gutter-base;
$gutter-left: $gutter-base;
$gutter-side: 20px; // Used when base width is reached
$gutter-side-tablet: 20px; // Used when base width is reached
$gutter-side-phone: 20px; // Used when base width is reached

// Colors
$color-error: #d9534f;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-blue: #1B75BC;
$color-golden: #d5b96f;
$color-white: #fff;
$color-golden-dark: #d4ba6f;
$color-golden-light: #e2c575;
$color-dark-blue: #095c9e;
$color-light-blue: #71C9FF;
$color-black: #000;

// # Grid
// =============================================== */

// General
$grid-helpers: true;

// Columns
$grid-columns: 12; // Number of columns in the grid system
$gutter: 1em; // Padding, to be divided by two and applied to the left and right of all columns
$max-width: $width-base;

// Breakpoints
$screen-xs: 479px;
$screen-sm: 767px;
$screen-md: 1023px;
$screen-lg: 1260px;
$screen-xlg: 1300px;
$breakpoint-small: $screen-xs;
$breakpoint-phone: $screen-sm;
$breakpoint-tablet: $screen-md;
$breakpoint-desktop: $screen-lg;
$breakpoint-desktop-large: $screen-xlg;

// # Animations
// =============================================== */

$base-duration: 0.25s;
$base-timing: ease-in-out;

// # Typography
// =============================================== */

$text-color-base: $color-blue;

$link-color-base: $color-blue;
$link-decoration-base: none;
$link-hover-color-base: darken($link-color-base, 15%);
$link-hover-decoration-base: underline;

$font-family-base: 'Montserrat', sans-serif;
$font-family-basic: 'Source Serif Pro', sans-serif;
$font-size-base: 14px;
$font-size-h1: 68px;
$font-size-h2: 46px;
$font-size-h3: 40px;
$font-size-h4: 30px;
$font-size-h5: 18px;
$font-size-h6: 16px;

$line-height-base: 1.9; // Always use integer no px or rem values

$heading-margin: 0 0 20px 0;
$heading-font-family: 'Gelion', sans-serif;
$heading-font-weight: 500;
$heading-line-height: 1.1;
$heading-color: inherit;
