// Table of Content
// ===============================================
// # Variables
// # Mixins */

// # Variables
// =============================================== */
// No local variables available

// # Mixins
// =============================================== */

@mixin base-addresses {
	address {
		display: block;
		font-style: italic;
		@include margin(0 0 20px);
		@include no-gutter-last-child;
	}
}
