// Table of Content
// ===============================================
// # Variables
// # Mixins */

// # Variables
// =============================================== */
// No local variables available

// # Mixins
// =============================================== */

@mixin base-blockquotes {
	blockquote {
		font-style: italic;
		border: 1px solid #ddd;
		border-radius: 5px;
		@include margin(0 0 20px);
		@include padding(20px);
		@include no-gutter-last-child;
	}
}
