// Table of Content
// ===============================================
// # Variables
// # Mixins */

// # Variables
// =============================================== */
// No local variables available

// # Mixins
// =============================================== */

@mixin base-lists {
	ul,
	ol {
		@include margin(0 20px 20px);
	}

	li ul,
	li ol {
		@include margin(0 20px);
	}

	ul,
	ul li {
		list-style-type: disc;
	}

	ol,
	ol li {
		list-style-type: decimal;
	}

	dl {
		@include margin(0 0 20px);

		dt {
			font-weight: bold;
		}

		dd {
			@include margin(null null null 20px);
		}
	}
}
