// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.gform_wrapper {
	@extend %form;
	background-color: $color-blue;
	max-width: 447px;
	@include max-screen($breakpoint-tablet) {
		@include margin(null auto);
	}

	.gform_heading {
		border-bottom: 1px solid $color-dark-blue;
		@include margin(null null 15px null);
		@include padding(13px 20px);

		h3 {
			color: $color-white;
			font-size: 30px;
			line-height: 1.6;
			font-weight: 400;
			@include margin(null null 0 null);
		}
	}

	.gform_body {
		.gform_fields {
			display: flex;
			flex-wrap: wrap;

			.gfield {
				@include margin(null null 15px null);

				label {
					color: $color-white;
					@include margin(null null 2px);
				}

				&.gfield_visibility_ {
					display: none;
				}

				.gfield_required {
					color: $color-error;
					@include padding(null null null 5px);
				}

				.gfield_checkbox,
				.gfield_radio {
					label {
						@extend label.is-radio;
					}
				}

				.validation_message {
					display: none;
				}

				&.gfield_error {
					.validation_message {
						display: block;
						@extend label.is-error;
					}

					input,
					select,
					textarea {
						@extend .is-error;
					}
				}

				> div {
					&.ginput_container_checkbox {
						label {
							font-size: 10px;
							line-height: 1.3;
						}

						ul {
							li {
								input[type=checkbox] {
									position: absolute;
									z-index: -1000;
									left: -1000px;
									overflow: hidden;
									clip: rect(0 0 0 0);
									height: 1px;
									width: 1px;
									margin: -1px;
									padding: 0;
									border: 0;
								}

								input[type=checkbox] + label {
									padding-left: 25px;
									height: 17px;
									display: inline-block;
									line-height: 17px;
									background-repeat: no-repeat;
									background-position: 0 0;
									font-size: 10px;
									vertical-align: middle;
									cursor: pointer;

								}

								input[type=checkbox]:checked + label {
									background-position: 0 -17px;
								}

								label {
									@include background-image(checks, png, 0 0, no-repeat);
									-webkit-touch-callout: none;
									-webkit-user-select: none;
									-khtml-user-select: none;
									-moz-user-select: none;
									-ms-user-select: none;
									user-select: none;
								}
							}
						}
					}
				}
			}
		}
	}

	.gform_footer {
		@include clearfix;
		@include padding(null null 35px);

		.gform_button {
			@include margin(null null null 20px);
			border: 0;
		}

		.gform_ajax_spinner {
			display: inline-block;
			@include margin(10px 0 0 10px);
		}
	}

	.validation_sent,
	.validation_error {
		color: #fff;
		border-radius: 5px;
		background: $color-error;
		@include margin(0 0 20px 0);
		@include padding(20px);
	}

	.validation_sent {
		background: $color-success;
	}

	.plan {
		.gform_body {
			.gform_fields {
				@include position(relative, null);

				.gfield {

					span {
						&.screen-reader-text {
							display: none;
						}

						&.gfield_required {
							display: none;
						}
					}

					&:first-child {
						width: calc(50% - 40px);
						@include margin(null 20px null 20px);
						@include max-screen($breakpoint-small) {
							width: 100%;
						}

						label {
							&.gfield_label {
								display: none;
							}
						}

						.name_first {
							display: block;
							@include position(relative, null);
							@include padding(20px null null);
							@include margin(null null 10px);

							label {
								@include position(absolute, 0 null null 0);
								@include margin(null null 0);
							}
						}

						.name_last {
							display: block;
							@include position(relative, null);
							@include padding(20px null null);

							label {
								@include position(absolute, 0 null null 0);
								@include margin(null null 0);
							}
						}
					}

					&:nth-child(2) {
						width: calc(50% - 20px);
						@include max-screen($breakpoint-small) {
							width: 100%;
							@include padding(null 20px);
						}
					}

					&:nth-child(3) {
						width: calc(50% - 20px);
						@include position(absolute, null 20px null null);
						@include margin(62px null null);
						@include max-screen($breakpoint-small) {
							width: 100%;
							@include position(relative, null 0 null null);
							@include margin(0 null null);
							@include padding(null 20px);
						}
					}

					&:nth-child(4) {
						width: calc(50% - 20px);
						border-top: 1px solid $color-dark-blue;
						@include padding(10px null null 20px);
						@include max-screen($breakpoint-small) {
							width: 100%;
							@include padding(null 20px null null);
						}
					}

					&:nth-child(5) {
						width: 25%;
						border-top: 1px solid $color-dark-blue;
						@include padding(10px null null 20px);
						@include max-screen($breakpoint-small) {
							width: 100%;
							border-top: 0;
							@include padding(null 20px null null);
						}
					}

					&:nth-child(6) {
						width: 25%;
						border-top: 1px solid $color-dark-blue;
						@include padding(10px null null 15px);
						@include max-screen($breakpoint-small) {
							width: 100%;
							@include padding(null 20px null null);
						}
					}

					&:nth-child(7) {
						width: calc(50% - 20px);
						@include padding(null null null 20px);
						@include max-screen($breakpoint-small) {
							width: 100%;
							@include padding(null 20px null null);
						}
					}

					&:nth-child(8) {
						width: 50%;
						@include padding(null null null 20px);
						@include max-screen($breakpoint-small) {
							width: 100%;
							@include padding(null 20px null null);
						}
					}

					&:nth-child(9) {
						width: calc(50% - 20px);
						border-top: 1px solid $color-dark-blue;
						@include padding(10px null null 20px);
						@include max-screen($breakpoint-small) {
							width: 100%;
							@include padding(null 20px null null);
						}
					}

					&:nth-child(10) {
						width: 50%;
						border-top: 1px solid $color-dark-blue;
						@include padding(10px null null 20px);
						@include max-screen($breakpoint-small) {
							width: 100%;
							@include padding(null 20px null null);
						}

						> div {
							&.clear-multi {
								display: flex;

								> div {
									&.ginput_container_time {
										&:first-child {
											@include padding(null 7px null null);

											i {
												display: none;
											}
										}

										&:last-child {
											@include padding(null null null 7px);
										}
									}
								}
							}
						}
					}

					&:nth-child(11) {
						width: calc(100% - 20px);
						@include padding(null null null 20px);
					}

					&:nth-child(12) {
						width: calc(100% - 20px);
						@include padding(null null null 20px);
					}

					input {
						&.datepicker {
							@include background-image(white_arrow_down, svg, 95% center, no-repeat);
						}
					}

					> div {
						&.ginput_container_date {
							@include position(relative, null);

							&:after {
								content: '';
								width: 1px;
								height: 100%;
								background: $color-blue;
								@include position(absolute, 0 34px null null);
							}
						}
					}

				}
			}
		}
	}

	.donate {
		.gform_body {
			.gform_fields {
				@include position(relative, null);

				.gfield {

					span {
						&.screen-reader-text {
							display: none;
						}

						&.gfield_required {
							display: none;
						}
					}

					&:first-child {
						width: 100%;
						display: flex;
						justify-content: space-between;
						align-items: center;
						@include margin(null 20px null 20px);

						label {
							font-size: 14px;
							line-height: 1.3;
						}

						> div {
							&.ginput_container_text {
								width: 112px;
								@include position(relative, null);

								&:before {
									content: '€';
									color: $color-white;
									@include position(absolute, null null null -16px);
									@include margin(2px null null);
								}
							}

							&.ginput_container_singleproduct{
								@include position(relative, null);

								&:before {
									content: '€';
									color: $color-white;
									@include position(absolute, null null null -16px);
									@include margin(2px null null);
								}

								span{
									&.ginput_product_price_label{
										display: none;
									}
									&.ginput_product_price{
										display: none;
									}
									&.ginput_quantity_label{
										display: none;
									}
								}
							}
						}
					}

					&:nth-child(2) {
						width: calc(50% - 40px);
						@include margin(null 20px null 20px);
						@include max-screen($breakpoint-small) {
							width: 100%;
						}

						label {
							&.gfield_label {
								display: none;
							}
						}

						.name_first {
							display: block;
							@include position(relative, null);
							@include padding(20px null null);
							@include margin(null null 10px);

							label {
								@include position(absolute, 0 null null 0);
								@include margin(null null 0);
							}
						}

						.name_last {
							display: block;
							@include position(relative, null);
							@include padding(20px null null);

							label {
								@include position(absolute, 0 null null 0);
								@include margin(null null 0);
							}
						}
					}

					&:nth-child(3) {
						width: calc(50% - 20px);
						@include max-screen($breakpoint-small) {
							width: 100%;
							@include padding(null 20px);
						}
					}

					&:nth-child(4) {
						width: calc(50% - 20px);
						@include position(absolute, null 20px null null);
						@include margin(108px null null);
						@include max-screen($breakpoint-small) {
							width: 100%;
							@include position(relative, null 0 null null);
							@include margin(0 null null);
							@include padding(null 20px);
						}
					}

					&:nth-child(5) {
						width: 100%;
						border-top: 1px solid $color-dark-blue;
						@include padding(10px null null 20px);
					}

					&:nth-child(6) {
						width: 100%;
						@include padding(10px 20px null 20px);
					}

				}
			}
		}

		.gform_footer {
			border-top: 1px solid $color-dark-blue;
			@include padding(20px null null null);
		}
	}
}
