// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

* {
	box-sizing: border-box;
	@include margin(0);
	@include padding(0);

	&:before,
	&:after {
		box-sizing: border-box;
		@include margin(0);
		@include padding(0);
	}
}

html,
body {
	background-color: $page-bg;
}

a {
	text-decoration: none;
	transition: color $base-duration $base-timing, border-color $base-duration $base-timing, background-color $base-duration $base-timing;
}

.clear {
	@include clearfix;
}

.centered {
	@include padding(null calc((100% - #{$width-base}) / 2));
	@include max-screen($breakpoint-desktop) {
		@include padding(null 15px);
	}

	&--large {
		@include padding(null calc((100% - #{$width-base-main}) / 2));
		@include max-screen($breakpoint-desktop-large) {
			@include padding(null 15px);
		}
	}

	&--small {
		@include padding(null calc((100% - #{$width-base-small}) / 2));
		@include max-screen($breakpoint-tablet) {
			@include padding(null 15px);
		}
	}

	&--exsmall{
		@include padding(null calc((100% - #{$width-base-exsmall}) / 2));
		@include max-screen($breakpoint-tablet) {
			@include padding(null 15px);
		}
	}
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
	font-weight: $heading-font-weight;
	line-height: $heading-line-height;
	color: $heading-color;
	@include margin($heading-margin);
}

h1 {
	font-size: $font-size-h1;
	@include max-screen($breakpoint-tablet){
		font-size: 40px;
	}
}

h2 {
	font-size: $font-size-h2;
	@include max-screen($breakpoint-phone) {
		font-size: 30px;
	}
}

h3 {
	font-size: $font-size-h3;
	@include max-screen($breakpoint-phone) {
		font-size: 30px;
	}
}

h4 {
	font-size: $font-size-h4;
}

h5 {
	font-size: $font-size-h5;
}

h6 {
	font-size: $font-size-h6;
}

p {
	@include margin(0 0 20px);
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

dfn {
	@extend strong;
	@extend em;
}

sup,
sub {
	line-height: 0;
}

