// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
$button-padding: 0px 25px !default;

$button-height: 40px !default;

$button-font-family: $heading-font-family !default;
$button-font-size: 18px !default;
$button-font-weight: 500 !default;

$button-color: #fff !default;
$button-color-hover: #fff !default;
$button-color-disabled: #999 !default;

$button-border-size: 1px !default;
$button-border-style: solid !default;
$button-border-color: #2e6da4 !default;
$button-border-color-hover: #286090 !default;
$button-border-color-disabled: #666 !default;
$button-border-radius: 25px !default;

$button-bg: #337ab7 !default;
$button-bg-hover: #286090 !default;
$button-bg-disabled: #efefef !default;

// # Elements
// =============================================== */

.button {
	height: 40px;
	display: inline-flex;
	cursor: pointer;
	align-items: center;
	text-align: center;
	vertical-align: middle;
	font-family: $button-font-family;
	font-size: $button-font-size;
	font-weight: $button-font-weight;
	color: $button-color;
	touch-action: manipulation;
	white-space: nowrap;
	border-radius: $button-border-radius;
	background: $color-golden;
	user-select: none;
	transition: color $base-duration $base-timing, border-color $base-duration $base-timing, background-color $base-duration $base-timing;
	@include margin(null null 0);
	@include padding($button-padding);
	@include position(relative, null);

	&:hover,
	&[type='submit']:hover,
	&[type='reset']:hover,
	&[type='button']:hover,
	&:focus,
	&.is-focused {
		color: $button-color-hover;
		text-decoration: none;
		border-color: $button-border-color-hover;
		background-color: $button-bg-hover;
	}

	&:active,
	&.is-active {
		background-image: none;
	}

	&:disabled,
	&.is-disabled {
		color: $button-color-disabled;
		background-color: $button-bg-disabled;
	}

	&--calendor {
		@include padding(null null null 50px);

		&:before {
			content: '';
			width: 21px;
			height: 40px;
			@include background-image(calendar, svg);
			@include position(absolute, 0 null null 17px);
		}

	}

	&--white {
		background: $color-white;
		color: $color-blue;

		&:hover {
			color: $color-white;
			background: $color-golden;
		}
	}

	&--link {
		height: auto;
		background: none;
		@include padding(null 60px null 0);
		@include position(relative, null);
		@include max-screen($breakpoint-phone) {
			font-size: 14px;
		}

		&:after {
			content: '';
			width: 41px;
			height: 20px;
			@include background-image(arrow_white, svg);
			@include position(absolute, 10px 0 null null);
			@include max-screen($breakpoint-phone) {
				top: 5px;
			}
		}

		&:hover {
			background: none;
			color: $color-golden;

			&:after {
				@include background-image(arrow_golden, svg);
			}
		}
	}

	&--blue{
		background: $color-blue;
	}

	&--blue-border{
		color: $color-blue;
		background: $color-white;
		border: 2px solid $color-blue;
	}

	&--active-blue{
		color: $color-blue;
		background: none;
		border: 2px solid $color-blue;
	}

}
