// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
$label-margin-bottom: 10px !default;
$label-font-size: 10px !default;
$label-font-weight: 400 !default;
$label-text-color: $text-color-base !default;
$label-text-color-error: #fff !default;
$label-background-error: #d9534f !default;

$input-padding: 5px 10px !default;

$input-width: 100% !default;
$input-width-textarea: 600px !default;

$input-height: 32px !default;
$input-height-textarea: 70px !default;

$input-font-family: $font-family-base !default;
$input-font-size: 12px !default;

$input-color: #333 !default;
$input-color-placeholder: #000 !default;
$input-color-disabled: #999 !default;

$input-border-size: 1px !default;
$input-border-style: solid !default;
$input-border-color: #ccc !default;
$input-border-color-focus: #337ab7 !default;
$input-border-color-error: $color-error !default;
$input-border-radius: 5px !default;

$input-bg: #fff !default;
$input-bg-disabled: #efefef !default;

$input-submit-color: #333 !default;
$input-submit-color-hover: #333 !default;

$input-submit-bg: #efefef !default;
$input-submit-bg-hover: #efefef !default;

$fieldset-padding: 20px !default;

$fieldset-border-size: 1px !default;
$fieldset-border-style: solid !default;
$fieldset-border-color: #ccc !default;
$fieldset-border-radius: 5px;

$legend-color: #666 !default;
$legend-border-size: 1px !default;
$legend-border-style: solid !default;
$legend-border-color: #ccc !default;
$legend-border-radius: 5px !default;
$legend-background: #fff !default;

// # Elements
// =============================================== */

%form {
	fieldset {
		border: $fieldset-border-size $fieldset-border-style $fieldset-border-color;
		border-radius: $fieldset-border-radius;
		@include margin(null null $gutter-bottom);
		@include padding($fieldset-padding);
		@include no-gutter-last-child;

		> p {
			@include margin(null null $gutter-bottom);
			@include clearfix;
		}
	}

	legend {
		color: $legend-color;
		border: $legend-border-size $legend-border-style $legend-border-color;
		border-radius: $legend-border-radius;
		background: $legend-background;
		@include padding(5px 10px);
	}

	label {
		display: block;
		font-size: $label-font-size;
		font-weight: $label-font-weight;
		color: $label-text-color;
		@include margin(null null $label-margin-bottom);

		&.is-radio,
		&.is-checkbox {
			display: inline-block;
			height: $input-height;
			line-height: $input-height;
			font-size: $font-size-base;
			font-weight: normal;
			@include margin(0 10px 0 1px);
		}

		&.is-checkbox {
			@include margin(0 10px 0);
		}

		&.is-error {
			clear: both;
			display: inline-block;
			font-weight: normal;
			font-size: $font-size-base;
			color: $label-text-color-error;
			border-radius: 3px;
			background: $label-background-error;
			@include margin(10px null null);
			@include padding(5px 10px);
			@include position(relative, null);

			&:before {
				display: block;
				content: '';
				width: 0;
				height: 0;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-bottom: 5px solid $label-background-error;
				@include position(absolute, -5px null null 10px);
			}
		}
	}

	input,
	select,
	textarea {
		display: block;
		width: $input-width;
		max-width: 100%;
		height: $input-height;
		font-family: $input-font-family;
		font-size: $input-font-size;
		color: $color-light-blue;
		border-radius: $input-border-radius;
		border: 0;
		background: $color-dark-blue;
		appearance: none;
		-webkit-appearance: none;
		box-shadow: none;
		@include padding($input-padding);

		&::placeholder {
			color: $input-color-placeholder;
		}

		&:focus:not(:read-only):not([type='submit']):not([type='reset']):not([type='button']),
		.is-focused {
			border-color: $input-border-color-focus;
		}

		&.is-error {
			border-color: $input-border-color-error;
		}

		&:disabled,
		&.is-disabled {
			color: $input-color-disabled;
			background-color: $input-bg-disabled;
		}

		&[type='radio'],
		&[type='checkbox'] {
			display: inline-block;
			height: auto;
			@include margin(null 10px null null);
			@include padding(0);
		}

		&[type='radio'],
		&[type='checkbox'],
		&[type='submit'],
		&[type='reset'],
		&[type='button'] {
			display: inline-block;
			width: auto;
		}
	}

	input[type='submit'],
	input[type='reset'],
	input[type='button'] {
		color: $input-submit-color;
		background-color: $input-submit-bg;
		border: 0;

		&:hover {
			color: $input-submit-color-hover;
			background-color: $input-submit-bg-hover;
		}
	}

	select {
		appearance: none;
		@include background-image(white_arrow_down, svg, 97% center, no-repeat);
	}

	textarea {
		resize: none;
		width: $input-width-textarea;
		height: $input-height-textarea;
		@include padding(10px);
	}
}
