// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.wrapper {
	width: 100%;
	@include clearfix;

	&.wrapper--page {
		overflow-x: hidden;
		font-family: $font-family-base;
		line-height: $line-height-base;
		font-size: $font-size-base;
		color: $text-color-base;
		background-color: $page-bg;
		@include padding(130px null null);
		@include max-screen($breakpoint-tablet) {
			@include padding(66px null null);
		}
	}
}
