// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.about {
	@include padding(65px null 55px null);
	@include max-screen($breakpoint-phone) {
		@include padding(30px null 0px null);
	}

	&__top {
		display: flex;
		justify-content: flex-end;
		@include position(relative, null);

		figure {
			@include position(relative, null);
			box-shadow: 0 8px 13px 4px rgba(0, 0, 0, 0.3);
			@include max-screen($breakpoint-tablet) {
				max-width: 65%;
			}
			@include max-screen($breakpoint-phone) {
				max-width: 68%;
			}
		}
	}

	&__brown-box {
		width: 340px;
		display: flex;
		height: 340px;
		color: $color-white;
		align-items: center;
		justify-content: center;
		background: $color-golden;
		box-shadow: 0 8px 13px 4px rgba(0, 0, 0, 0.3);
		transform: translateY(-50%);
		@include padding(20px);
		@include position(absolute, 50% null null 150px);
		@include max-screen($breakpoint-tablet) {
			width: 250px;
			height: 250px;
		}
		@include max-screen($breakpoint-phone) {
			width: 182px;
			height: 113px;
			left: 6%;
			@include padding(10px);
		}

		p {
			font-family: $font-family-basic;
			font-size: 27px;
			line-height: 1.3;
			font-weight: 600;
			@include margin(null null 0);
			@include max-screen($breakpoint-tablet) {
				font-size: 20px;
			}
			@include max-screen($breakpoint-phone) {
				font-size: 14px;
			}
		}
	}

	&__detail {
		background: $color-blue;
		max-width: 660px;
		@include padding(260px 45px 45px);
		@include margin(-354px null null);
		@include max-screen($breakpoint-tablet) {
			@include padding(180px null null);
			@include margin(-240px null null);
		}
		@include max-screen($breakpoint-phone) {
			max-width: 90%;
			@include padding(150px 20px 20px);
			@include margin(-120px null null);
		}

		.contact &,
		.over-ons &{
			@include padding(65px null null);
			@include margin(-210px null null);
			@include max-screen($breakpoint-phone) {
				@include margin(-75px null null);
			}
		}

		p {
			color: $color-white;
			font-size: 22px;
			font-family: $font-family-basic;
			line-height: 1.4;
			@include max-screen($breakpoint-phone) {
				font-size: 14px;
			}
		}
	}

	&__info-image {
		display: flex;
		align-items: flex-end;
		@include margin(null null 35px);
		@include max-screen($breakpoint-phone) {
			@include margin(null null 15px);
		}

		figure {
			@include margin(null 20px null null);
			@include max-screen($breakpoint-phone) {
				@include margin(null 10px null null);
			}

			@include max-screen($breakpoint-phone) {
				img {
					max-width: 70px;
				}
			}
		}
	}

	&__info {
		color: $color-white;

		h4 {
			@include margin(null null 0);
		}

		span {
			font-size: 15px;

			@include max-screen($breakpoint-phone) {
				font-size: 11px;
			}
		}
	}
}
