// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.action {
	@include padding(70px null);
	@include max-screen($breakpoint-phone) {
		@include padding(35px null);
	}

	&__holder {
		background: $color-golden-dark;
		border: 20px solid $color-golden-light;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include padding(35px 65px 35px 50px);
		@include max-screen($breakpoint-tablet) {
			@include padding(25px 55px 25px 40px);
		}
		@include max-screen($breakpoint-phone) {
			flex-wrap: wrap;
			@include padding(30px 20px 55px);
		}

		h3 {
			color: $color-white;
			@include margin(null null 15px);
		}

		p {
			font-size: 22px;
			line-height: 1.45;
			color: $color-white;
			font-family: $font-family-basic;
			font-weight: 600;
			@include margin(null null 0);
			@include max-screen($breakpoint-phone) {
				font-size: 20px;
			}
		}
	}

	&__content {
		@include margin(null null 35px);
	}
}
