// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.banner {
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
	background-position: center;
	height: 300px;
	@include max-screen($breakpoint-tablet){
		height: 220px;
	}

	h1 {
		color: $color-white;
		@include margin(null null 0);
	}
}
