// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.breadcrumb {
	@include padding(15px null);

	p {
		@include margin(null null 0);

		a{
			color: $color-blue;
		}

		span{
			&.breadcrumb_last{
				color: $color-golden;
			}
		}
	}
}
