// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.card-post {

	img {
		width: 100%;
		@include margin(null null 35px);
	}

	&__date {
		color: $color-blue;
		font-size: 14px;
		line-height: 1.2;
		@include margin(null null 30px);
		@include position(relative, null);

		&:after {
			content: '';
			width: 41px;
			height: 20px;
			@include position(absolute, -1px null null null);
			@include background-image(arrow_blue, svg);
			@include margin(null null null 20px);
		}
	}

	h5 {
		font-weight: 400;
		font-size: 20px;
		line-height: 1.4;
		color: $color-golden;
		@include margin(null null 0);
	}

	&:hover{

		h5{
			color: $color-blue;
		}
	}
}
