// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.certification {
	@include padding(70px null 20px);

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid $color-blue;
		@include padding(null null 30px);
		@include margin(null null 35px);
		@include max-screen($breakpoint-phone) {
			flex-wrap: wrap;
			@include margin(null null 0 null);
		}

		h3 {
			@include margin(null null 0);
			@include max-screen($breakpoint-phone) {
				@include margin(null null 25px);
			}
		}
	}

	&__heading {
		max-width: 265px;

	}

	&__content {
		max-width: 460px;
		@include margin(null 130px null null);
		@include max-screen($breakpoint-tablet) {
			@include margin(null 0 null null);
		}

		p {
			font-size: 22px;
			line-height: 1.5;
			font-family: $font-family-basic;
			@include margin(null null 0);
			@include max-screen($breakpoint-phone) {
				font-size: 20px;
			}
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		@include margin(null -20px);
		@include max-screen($breakpoint-phone) {
			@include margin(null 0);
		}

		li {
			width: 33.3%;
			@include padding(null 20px);
			@include max-screen($breakpoint-phone) {
				width: 100%;
				border-bottom: 1px solid $color-blue;
				@include padding(null 0);
			}

			p {
				font-size: 13px;
				line-height: 20px;
				@include margin(null null 30px);
				@include max-screen($breakpoint-phone) {
					@include margin(null null 15px);
					display: none;
				}
			}

			h6 {
				font-family: $font-family-base;
				font-weight: 700;
				@include margin(null null 8px);
				@include position(relative, null);
				@include max-screen($breakpoint-phone) {
					cursor: pointer;
					@include padding(15px null);
					@include margin(null null 0);
				}

				&:after {
					@include max-screen($breakpoint-phone) {
						content: '+';
						text-align: center;
						color: $color-white;
						line-height: 22px;
						font-weight: normal;
						width: 20px;
						height: 20px;
						background: $color-golden;
						border-radius: 100%;
						transform: translateY(-50%);
						@include position(absolute, 50% 0 null null);
					}
				}

				&.is-active{
					&:after{
						content: '-';
						background: $color-blue;
						line-height: 17px;
						font-size: 25px;
					}
				}
			}
		}
	}

}
