// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.content-slider {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	@include padding(70px null);

	&__info {
		max-width: 390px;
		z-index: 2;
		@include padding(null 100px null null);
		@include position(relative, null);
		@include max-screen($breakpoint-phone) {
			max-width: 100%;
			width: 100%;
			@include padding(null 0 null null);
		}

		h3 {
			@include margin(null null 25px);
		}

		p {
			font-size: 22px;
			line-height: 1.5;
			font-family: $font-family-basic;
			@include max-screen($breakpoint-phone) {
				font-size: 20px;
			}
		}
	}

	&__list {
		width: calc(100% - 390px);
		@include position(relative, null);
		@include max-screen($breakpoint-phone) {
			width: 100%;
			@include padding(125px null null);
		}


		> div {
			&.slick-list {
				overflow: inherit;
			}
		}

		&:before {
			z-index: 1;
			content: '';
			height: 100%;
			width: 5000px;
			background: $color-white;
			@include position(absolute, 0 100% null null);
		}
	}

	&__prev,
	&__next {
		cursor: pointer;
		z-index: 2;
		width: 41px;
		height: 20px;
		display: block;
		text-indent: -9999px;
		border: 0;
		background-color: inherit;
		@include position(absolute, null);
	}

	&__prev {
		@include background-image(arrow_leftslider, svg);
		left: -370px;
		bottom: 150px;
		@include max-screen($breakpoint-phone) {
			bottom: auto;
			top:46px;
			left: 18px;
		}
	}

	&__next {
		@include background-image(arrow_rightslider, svg);
		left: -290px;
		bottom: 150px;
		@include max-screen($breakpoint-phone) {
			bottom: auto;
			top:46px;
			left: 95px;
		}
	}

	&__slide {
		background: $color-blue;
		width: 339px;
		@include margin(null 25px null null);
		@include max-screen($breakpoint-phone) {
			width: 240px;
		}
	}

	&__slide-content {
		@include padding(40px 20px);

		h4 {
			color: $color-white;
			@include margin(null null 15px);
		}

		p {
			font-size: 11px;
			color: $color-white;
			@include margin(null null 0);
		}
	}
}
