// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include padding(30px null null);
	@include max-screen($breakpoint-phone) {
		flex-wrap: wrap;
	}

	&__content {
		max-width: 475px;
		@include max-screen($breakpoint-phone) {
			max-width: 100%;
		}

		p {
			font-family: $font-family-basic;
			font-size: 30px;
			line-height: 1.6;
			@include max-screen($breakpoint-phone) {
				font-size: 20px;
			}
		}
	}

	&__buttons {
		display: flex;
		justify-content: flex-end;
		@include max-screen($breakpoint-phone) {
			flex-wrap: wrap;
			justify-content: space-between;
		}

		> a {
			@include margin(null 10px null null);
			@include max-screen($breakpoint-phone) {
				@include margin(null null 20px);
			}
		}
	}
}
