// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.content {
	@include padding(50px null);
	@include max-screen($breakpoint-phone) {
		@include padding(30px null null null);
	}

	span {
		&.big_font {
			font-size: 20px;
		}
	}

	&__info {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include padding(50px null 60px null);
		@include max-screen($breakpoint-tablet) {
			flex-wrap: wrap;
			@include padding(30px null);
		}
	}

	&__blog-top {
		max-width: 685px;
		@include max-screen($breakpoint-tablet) {
			max-width: 100%;
			@include margin(null null 20px);
		}

		p {
			font-size: 30px;
			line-height: 1.5;
			font-family: $font-family-basic;
			@include margin(null null 0);
		}
	}

	&__social {
		display: flex;
		align-items: center;

		li {
			@include padding(null 10px null);

			a {
				display: block;
				color: $color-white;
				font-size: 32px;
				width: 60px;
				height: 60px;
				line-height: 60px;
				text-align: center;
				background: $color-blue;
				border-radius: 100%;

				&:hover {
					background: $color-golden;
				}
			}
		}

	}

	&__blog {
		display: flex;
		flex-wrap: wrap;
		@include margin(null -15px);

		> a {
			width: 33.3%;
			@include padding(null 15px);
			@include margin(null null 85px);
			@include max-screen($breakpoint-tablet) {
				width: 50%;
			}
			@include max-screen($breakpoint-phone) {
				@include margin(null null 45px);
			}
			@include max-screen($breakpoint-phone) {
				width: 100%;
			}
		}
	}

	&__single {
		display: flex;
		justify-content: space-between;
		@include max-screen($breakpoint-tablet) {
			flex-wrap: wrap;
		}
	}

	&__image {
		@include position(relative, null);
		@include max-screen($breakpoint-tablet) {
			@include margin(null auto);
		}
		@include max-screen($breakpoint-phone) {
			width: 90%;
			@include margin(null null null 0);
		}

		&:after {
			content: '';
			background: $color-blue;
			width: 100%;
			height: 347px;
			@include position(absolute, null -68px -42px null);
			@include max-screen($breakpoint-phone) {
				bottom: -20px;
				right: -20px;
				height: 100%;
			}
		}

		img {
			z-index: 1;
			box-shadow: 0 5px 10px 5px rgba($color-black,0.2);
			@include position(relative, null);
			@include max-screen($breakpoint-phone) {
				width: 100%;
			}
		}
	}

	&__content-single {
		max-width: 545px;
		@include max-screen($breakpoint-desktop) {
			max-width: 510px;
		}
		@include max-screen($breakpoint-tablet) {
			max-width: 100%;
			@include margin(70px null null);
		}

		h5 {
			font-weight: 400;
			font-size: 20px;
			line-height: 1.4;
			font-family: $font-family-base;
		}
	}

	&__heading {
		display: flex;
		align-items: center;
		background-size: 100% 100%;
		background-position: center;
		@include padding(160px null);
		@include background-image(gradient_bg, png);
		@include max-screen($breakpoint-tablet) {
			@include padding(130px null);
		}
		@include max-screen($breakpoint-phone) {
			@include padding(90px null);
		}

		h2 {
			color: $color-white;
			@include margin(null null 0);
		}
	}

	&__single-treatment {

		h5 {
			font-size: 20px;
			line-height: 1.4;
			font-family: $font-family-base;
			font-weight: 400;
		}
	}

	&__list-button {
		@include margin(-90px null null);
		@include max-screen($breakpoint-phone) {
			@include margin(-40px null null);
		}

		> a {
			@include margin(null 10px null null);
			@include max-screen($breakpoint-phone) {
				@include margin(null null 10px null);
			}
		}
	}

	&__video {
		@include position(relative, null);
		@include margin(30px null null);
	}

	&__embed {
		@include position(relative, null);
		@include max-screen($breakpoint-tablet) {
			width: 732px;
			@include margin(null auto);
		}
		@include max-screen($breakpoint-phone) {
			width: 430px;
		}
		@include max-screen($breakpoint-small) {
			width: 280px;
		}

		iframe{
			@include max-screen($breakpoint-phone) {
				height: 235px;
			}
			@include max-screen($breakpoint-small) {
				height: 153px;
			}
		}
	}

	&__image-video {
		@include position(absolute, 0 null null 0);

		&:before {
			transition: opacity $base-timing $base-duration;
			content: '';
			width: 97px;
			height: 97px;
			opacity: 1;
			transform: translate(-50%, -50%);
			@include background-image(video_icon, svg);
			@include position(absolute, 50% null null 50%);
		}

		&:hover {
			&:before {
				opacity: 0.8;
			}
		}
	}
}
