// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.cont-img {

	&__holder {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include padding(50px null 85px null);
		@include max-screen($breakpoint-tablet) {
			@include padding(20px null 40px null);
		}
		@include max-screen($breakpoint-phone) {
			flex-wrap: wrap;
		}
	}

	&__content {
		max-width: 670px;
		@include max-screen($breakpoint-desktop) {
			max-width: 500px;
		}
		@include max-screen($breakpoint-tablet) {
			@include padding(null 50px null null);
		}
		@include max-screen($breakpoint-phone) {
			order: 2;
			@include padding(50px 0 null null);
		}


		ul {
			li {
				font-size: 16px;
				font-weight: bold;
				@include position(relative, null);
				@include padding(null null null 15px);

				&:before {
					content: '';
					width: 5px;
					height: 5px;
					background: $color-blue;
					border-radius: 100%;
					@include position(absolute, 11px null null 0);
				}
			}
		}
	}

	&__image {
		@include position(relative, null);
		@include max-screen($breakpoint-phone) {
			order: 1;
			width: calc(100% - 30px);
			@include margin(null null null 30px);
		}

		img {
			z-index: 1;
			@include position(relative, null);
			box-shadow: 0 8px 13px 4px rgba($color-black, 0.3);
			@include max-screen($breakpoint-phone) {
				width: 100%;
			}
		}

		&:before {
			content: '';
			background: $color-blue;
			width: 100%;
			height: 100%;
			@include position(absolute, 30px null null -30px);
		}
	}

	&__contact {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border: 2px solid $color-blue;
		@include margin(25px null 60px null);
		@include padding(30px);
		@include max-screen($breakpoint-tablet) {
			@include margin(20px null 30px null);
		}
		@include max-screen($breakpoint-phone) {
			flex-wrap: wrap;
			@include padding(20px);
		}
	}

	&__text {
		font-size: 27px;
		line-height: 1.5;
		font-family: $font-family-basic;
		color: $color-golden;
		max-width: 516px;
		@include max-screen($breakpoint-phone) {
			font-size: 20px;
		}
	}



	&__buttons {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		@include max-screen($breakpoint-phone) {
			justify-content: flex-start;
			@include margin(20px null null);
		}

		> a {
			@extend .button--blue;
			@include margin(null 10px null null);
			@include max-screen($breakpoint-tablet) {
				@include margin(null null 10px null);
			}
		}

		a[href^="tel:"] {
			@extend .button--blue-border;
		}

	}

	&:nth-child(even) {
		.cont-img__content {
			order: 2;
			@include max-screen($breakpoint-tablet) {
				@include padding(null null null 50px);
			}
			@include max-screen($breakpoint-phone) {
				@include padding(null null null 0);
			}
		}

		.cont-img__buttons {
			> a {
				&:first-child {
					@extend .button;
					@extend .button--calendor;
				}
			}
		}
	}

}
