// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.cycle {

	&__heading {
		background-size: 100% 100%;
		background-position: center;
		@include padding(120px null 90px null);

		h3 {
			color: $color-white;
			max-width: 290px;
			@include margin(null null 0);
		}
	}

	&__content {
		@include margin(null null 64px);

		p {
			max-width: 730px;
			font-size: 20px;
			line-height: 1.6;
			@include margin(null null 0);
			@include max-screen($breakpoint-phone) {
				font-size: 18px;
			}
		}
	}

	&__list {
		@include margin(null null 50px);

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			li {
				width: 16.66%;
				text-align: center;
				@include margin(null null 30px);
				@include max-screen($breakpoint-tablet) {
					width: 25%;
				}
				@include max-screen($breakpoint-phone) {
					width: 33.3%;
				}
				@include max-screen($breakpoint-small) {
					width: 50%;
				}

				img {
					transition: all $base-timing $base-duration;
					@include margin(null auto 10px);

					&:hover {
						transform: rotate(360deg);
					}
				}

				h6 {
					color: $color-blue;
					@include margin(null null 0);
				}
			}
		}
	}

	&__additional {

		p {
			max-width: 730px;
		}

	}
}
