// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.footer {
	width: 100%;

	&__image {
		background-size: cover;
		@include padding(125px null 55px null);
		@include max-screen($breakpoint-phone) {
			@include padding(80px 15px 40px);
		}

		img {
			@include margin(null auto);
		}
	}

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include padding(30px null);

		ul {
			display: flex;
			@include max-screen($breakpoint-tablet) {
				flex-wrap: wrap;
			}

			&.menu {

				li {
					@include padding(null 15px);
					@include position(relative, null);
					@include max-screen($breakpoint-tablet) {
						width: 100%;
						@include padding(null 0);
					}

					a {
						font-size: 13px;
						color: $color-golden;

						&:hover {
							color: $color-blue;
						}
					}

					&:first-child {
						@include padding(null null null 0);
					}

					&:after {
						content: '';
						background: $color-golden;
						width: 1px;
						height: 12px;
						@include position(absolute, 8px 0 null null);
						@include max-screen($breakpoint-tablet) {
							display: none;
						}
					}

					&:last-child {
						&:after {
							display: none;
						}
					}
				}
			}
		}
	}

	&__social {

		li {
			@include padding(null 20px null null);
			@include max-screen($breakpoint-tablet) {
				width: 100%;
				text-align: center;
				@include padding(5px 0 5px null);
			}

			a {
				font-size: 30px;
				color: $color-golden;
				line-height: 30px;
				@include max-screen($breakpoint-tablet) {
					font-size: 35px;
				}

				&:hover {
					color: $color-blue;
				}
			}
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: $color-blue;
		@include padding(30px null);
		@include max-screen($breakpoint-phone) {
			flex-wrap: wrap;
		}

		p {
			color: $color-white;
			max-width: 710px;
			font-size: 15px;
			font-weight: 700;
			line-height: 22px;
			@include margin(null null 0);
			@include max-screen($breakpoint-tablet) {
				@include margin(null 20px null null);
			}
			@include max-screen($breakpoint-phone) {
				max-width: 100%;
				@include margin(null 0 20px null);
			}
		}
	}

	&__button{
		font-size: 14px;
		font-weight: bold;

		&:hover{
			color: $color-white;
			background: $color-dark-blue;
		}
	}
}
