// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.form-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include padding(45px null);
	@include max-screen($breakpoint-tablet) {
		flex-wrap: wrap;
		@include padding(30px null);
	}

	&__form {
		@include max-screen($breakpoint-tablet) {
			width: 100%;
		}
	}

	&__content {
		max-width: 530px;
		@include max-screen($breakpoint-desktop) {
			max-width: 510px;
		}
		@include max-screen($breakpoint-tablet) {
			max-width: 100%;
			@include margin(30px null null);
		}

		h4 {
			font-family: $font-family-basic;
			line-height: 1.5;
		}
	}
}
