// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.gradient-image {
	background-size: 100% 100%;
	background-position: center;
	height: 300px;
}
