// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.header {
	z-index: 9;
	width: 100%;
	display: flex;
	height: 130px;
	align-items: center;
	justify-content: space-between;
	background: $color-white;
	transition: top $base-timing $base-duration;
	@include position(fixed, 0 null null 0);
	@include max-screen($breakpoint-tablet) {
		height: 66px;
	}

	&.nav-up {
		top: -130px;
		@include max-screen($breakpoint-tablet) {
			top: 0;
		}
	}

	&.fixed {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	&__logo {

		img {
			@include max-screen($breakpoint-desktop) {
				max-width: 150px;
			}
			@include max-screen($breakpoint-tablet) {
				max-width: 109px;
			}
		}
	}

	&__logo-white {
		display: none;
	}

	&__active-main {
		display: none;
	}

	&__active-white {
		display: block;
		z-index: 2;
		@include position(relative, null);
	}

	&__main {
		display: flex;
		align-items: center;
		@include max-screen($breakpoint-desktop) {
			flex-wrap: wrap;
			justify-content: flex-end;
		}
	}

	&__main-menu {
		display: flex;
		align-items: center;
		@include margin(null 60px null null);
		@include max-screen($breakpoint-desktop) {
			@include margin(null 10px null null);
		}
		@include max-screen($breakpoint-tablet) {
			display: none;
		}

		ul {
			display: flex;
			align-items: center;

			li {
				@include padding(null 10px);

				a {
					font-weight: 500;
					font-size: 17px;
					font-family: $heading-font-family;
					color: $color-blue;

					&:hover {
						text-decoration: none;
						color: $color-golden;
					}
				}

				&.is-active {
					a {
						text-decoration: none;
						color: $color-golden;
					}
				}


				&.behandelingen {
					a {
						.archive & {
							color: $color-golden;
						}

						.single-treatment & {
							color: $color-golden;
						}
					}
				}
			}
		}
	}

	&__main-lang {

		> div {
			&.wpml-ls {
				@include padding(0);
			}
		}

		ul {

			li {

				a {
					font-weight: 500;
					font-size: 17px;
					font-family: $heading-font-family;
					color: $color-blue;
					line-height: inherit;
					@include padding(0);
				}
			}
		}
	}

	&__mobile {
		display: none;
	}

	&__button {
		z-index: 2;
		@include position(relative, null);
		@include max-screen($breakpoint-tablet) {
			text-indent: -9999px;
			width: 46px;
			display: block;
			height: 46px;
			@include padding(0);

			&:before {
				width: 100%;
				height: 100%;
				background-position: center;
				left: 0;
			}
		}
	}

	&__menu-toggle {
		cursor: pointer;
		z-index: 15;
		float: right;
		display: none;
		width: 46px;
		height: 46px;
		background: $color-blue;
		border-radius: 100%;
		transition: background $base-duration $base-timing;
		@include margin(null 7px null null);
		@include position(relative, null);
		@include max-screen($breakpoint-tablet) {
			display: block;
		}

		> span {
			display: block;
			height: 2px;
			text-indent: -9999px;
			border-radius: 2px;
			background: $color-white;
			transition: background $base-duration $base-timing;
			@include position(absolute, 50% 25% null 25%);

			&:before,
			&:after {
				display: block;
				width: 100%;
				height: 2px;
				content: '';
				border-radius: 2px;
				background-color: $color-white;
				transition: background $base-duration $base-timing $base-duration;
				@include position(absolute, null null null 0);
			}

			&:before {
				top: -7px;
				transition-property: top, transform;
			}

			&:after {
				bottom: -7px;
				transition-property: bottom, transform;
			}
		}

		&.is-active {
			background: $color-white;

			> span {
				background: none;

				&:before,
				&:after {
					transition-delay: 0s, 0.2s;
					background: $color-blue;
				}

				&:before {
					top: 0;
					transform: rotate(45deg);
				}

				&:after {
					bottom: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}

	&__mobile {
		width: 100%;
		height: 100%;
		background: $color-blue;
		overflow-y: auto;
		@include position(fixed, 0 null null 0);
		@include padding(65px 15px null);
	}

	&__mobile-lang {
		@include margin(null null 80px);

		> div {
			@include padding(0);
			border: 0;
		}

		ul {

			li {

				a {
					color: $color-white;
					font-size: 16px;
					font-family: $heading-font-family;
					@include padding(0);
				}
			}
		}
	}

	&__mobile-wrap {
		ul {
			li {
				a {
					color: $color-white;
					font-size: 24px;
					font-family: $heading-font-family;

					&:hover {
						color: $color-golden;
					}
				}

				&.is-active {
					a {
						color: $color-golden;
					}
				}
			}
		}
	}

	&__social {
		display: flex;
		@include margin(100px null null);

		li {
			@include padding(null 20px null null);

			a {
				font-size: 30px;
				color: $color-white;

				&:hover {
					color: $color-golden;
				}
			}
		}
	}
}
