// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.info {
	@include margin(50px null);
	@include max-screen($breakpoint-tablet) {
		@include margin(30px null);
	}

	&__holder {
		@include position(relative, null);
		@include padding(75px null null);
	}

	figure {
		@include position(absolute, 0 0 null null);
		@include max-screen($breakpoint-phone) {
			max-width: 80%;
		}
	}

	&__content {
		background: $color-blue;
		color: $color-white;
		@include padding(65px 140px 50px 35px);
		@include margin(null 250px null null);
		@include max-screen($breakpoint-phone) {
			@include margin(null 25px null null);
			@include padding(155px 15px 10px);
		}

		p {
			font-size: 22px;
			line-height: 1.5;
			font-family: $font-family-basic;
			@include max-screen($breakpoint-phone) {
				font-size: 14px;
			}
		}
	}
}
