// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.popular {

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include padding(35px null);
		@include max-screen($breakpoint-tablet) {
			flex-wrap: wrap;
		}
	}

	&__left {
		max-width: 620px;
		font-size: 30px;
		font-family: $font-family-basic;
		line-height: 1.35;
		@include max-screen($breakpoint-tablet) {
			max-width: 90%;
			@include margin(null null 20px);
		}
		@include max-screen($breakpoint-phone) {
			font-size: 20px;
			max-width: 100%;
		}
	}

	&__right {
		@include max-screen($breakpoint-tablet) {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
		}

	}

	&__link {
		max-width: 270px;
		font-size: 20px;
		font-family: $heading-font-family;
		color: $color-blue;
		display: block;
		text-align: right;
		line-height: 1.2;
		opacity: 1;
		transition: opacity $base-timing $base-duration;
		@include padding(null 60px null null);
		@include position(relative, null);
		@include max-screen($breakpoint-phone) {
			font-size: 14px;
		}

		&:after {
			content: '';
			width: 40px;
			height: 20px;
			transform: translateY(-50%);
			transition: right $base-timing $base-duration;
			@include background-image(arrow_blue, svg);
			@include position(absolute, 50% 0 null null);
		}

		&:hover{
			opacity: 0.8;

			&:after{
				right: 10px;
			}
		}
	}

	&__slider {
		@include margin(35px null 65px null);
		@include position(relative, null);
	}

	&__slide {
		display: none;
		background-size: cover;

		&:first-child {
			display: block;
		}
	}

	&__inner-slide {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		height: 420px;
		@include max-screen($breakpoint-tablet) {
			height: 360px;
		}

		h4 {
			font-size: 16px;
			text-transform: uppercase;
			color: $color-white;
			font-weight: 500;
			letter-spacing: 3px;
			width: 100%;
			@include margin(null null 0);
			@include max-screen($breakpoint-tablet) {
				font-size: 14px;
			}
			@include max-screen($breakpoint-phone) {
				font-size: 12px;
			}
			@include max-screen($breakpoint-small) {
				font-size: 10px;
			}
		}

		h2 {
			color: $color-white;
			font-size: 105px;
			@include margin(null null 10px);
			@include position(relative, null);
			@include max-screen($breakpoint-tablet) {
				font-size: 75px;
			}
			@include max-screen($breakpoint-phone) {
				font-size: 42px;
			}
			@include max-screen($breakpoint-small) {
				font-size: 36px;
			}

			&:after {
				content: '';
				width: 41px;
				height: 20px;
				@include margin(null null null 20px);
				@include background-image(arrow_white, svg);
				@include position(absolute, null null 20px);
				@include max-screen($breakpoint-phone) {
					bottom: 7px;
					@include margin(null null null 10px);
				}
			}


		}

		p {
			font-size: 20px;
			line-height: 1.45;
			color: $color-white;
			font-family: $font-family-basic;
			max-width: 520px;
			@include margin(null null 0);
			@include max-screen($breakpoint-tablet) {
				font-size: 18px;
			}
			@include max-screen($breakpoint-phone) {
				font-size: 14px;
			}
			@include max-screen($breakpoint-small) {
				max-width: 80%;
			}
		}
	}

	&__slick-dots {
		transform: translateY(-50%);
		@include margin(null 50px null null);
		@include position(absolute, 50% 0 null null);
		@include max-screen($breakpoint-phone) {
			@include margin(null 10px null null);
		}

		li {
			@include padding(4px null);

			button {
				cursor: pointer;
				width: 21px;
				height: 21px;
				text-indent: -9999px;
				background: $color-white;
				border: 0;
				border-radius: 100%;
				@include padding(0);
			}

			&.slick-active {
				button {
					box-shadow: 0 0 0 3px #fff;
					background: transparent;
				}
			}
		}
	}
}
