// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.testimonial {
	@include padding(55px null 40px null);
	@include max-screen($breakpoint-phone) {
		@include padding(0px null 20px null);
	}

	&__heading {
		display: flex;
		align-items: center;
		background-size: 100% 100%;
		background-position: center;
		@include padding(160px null);
		@include max-screen($breakpoint-tablet) {
			@include padding(130px null);
		}
		@include max-screen($breakpoint-phone) {
			@include padding(90px null);
		}

		h2 {
			color: $color-white;
			@include margin(null null 0);
		}
	}

	&__slider {
		max-width: 730px;

		p {
			font-size: 22px;
			font-family: $font-family-basic;
			font-weight: 400;
			line-height: 1.5;
			@include max-screen($breakpoint-phone) {
				font-size: 14px;
			}
		}

		h4 {
			font-size: 18px;
			line-height: 1.25;
			font-family: $font-family-basic;
			font-weight: 700;
			@include max-screen($breakpoint-phone) {
				font-size: 14px;
			}
		}
	}

	&__slick-dots {
		display: flex !important;

		li {
			@include padding(null 8px null null);

			button {
				cursor: pointer;
				width: 24px;
				height: 24px;
				text-indent: -9999px;
				background: $color-blue;
				border: 3px solid $color-white;
				border-radius: 100%;
				@include padding(0);
			}

			&.slick-active{
				button{
					border: 3px solid $color-blue;
					background: $color-white;
				}
			}
		}
	}
}
