// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.treatments {
	@include padding(35px null null null);

	&__content {
		@include padding(null null 50px);
		@include max-screen($breakpoint-phone) {
			@include padding(null null 20px null);
		}

		p {
			font-family: $font-family-basic;
			max-width: 670px;
			line-height: 1.5;
			font-size: 22px;
			@include max-screen($breakpoint-phone) {
				font-size: 18px;
			}
		}
	}

	&__list {

		ul {
			display: flex;
			flex-wrap: wrap;
			@include margin(null -13px);
			@include max-screen($breakpoint-phone) {
				@include margin(null 0);
			}

			li {
				width: 50%;
				@include padding(null 13px);
				@include margin(null null 50px);
				@include max-screen($breakpoint-phone) {
					width: 100%;
					@include padding(null 0);
					@include margin(null null 30px);
				}

				figure {
					overflow: hidden;
					@include position(relative, null);
					@include margin(null null 10px);

					&:hover {
						.treatments__hover {
							opacity: 1;
						}
					}

					img {
						transition: $base-timing $base-duration;
					}

					&:hover {
						img {
							transform: scale(1.2);
						}
					}
				}

				p {
					font-size: 11px;
					color: $color-blue;
					@include padding(null 40px null null);
					@include margin(null null 15px);
				}

				h4 {
					font-size: 20px;
					color: $color-blue;
					@include position(relative, null);

					&:after {
						content: '';
						width: 41px;
						height: 20px;
						@include margin(null null null 10px);
						@include background-image(arrow_blue, svg);
						@include position(absolute, null null -3px);
					}
				}
			}
		}
	}

	&__hover {
		opacity: 0;
		width: 100%;
		text-align: center;
		transform: translateY(-50%);
		transition: opacity $base-timing $base-duration;
		@include position(absolute, 50% null null);

		h2 {
			color: $color-white;
			font-size: 50px;
			@include margin(null null 0);
			@include max-screen($breakpoint-tablet){
				font-size: 30px;
			}
		}

		span {
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-family: $heading-font-family;
			color: $color-white;
			@include max-screen($breakpoint-tablet){
				font-size: 14px;
			}
		}
	}
}
