// Table of Content
// ===============================================
// # Variables
// # Elements */

// # Variables
// =============================================== */
// No local variables available

// # Elements
// =============================================== */

.white-popup-block {
	max-width: 730px;
	background-color: $color-white;
	overflow: hidden;
	border-radius: 30px;
	@include margin(null auto);
	@include position(relative, null);
	@include max-screen($breakpoint-phone) {
		@include margin(null 15px);
	}

	h2 {
		font-size: 36px;
		line-height: 1.5;
		font-weight: 400;
		color: $color-white;
		background: $color-golden-light;
		@include margin(null null 0);
		@include padding(20px 70px 20px 30px);
		@include max-screen($breakpoint-phone) {
			font-size: 20px;
		}
	}

	&__content {
		@include padding(25px);

		p {
			font-size: 14px;
			line-height: 1.5;
			color: $color-blue;
			font-family: $font-family-base;
			font-weight: 400;
		}
	}

	&__dismiss {
		width: 45px;
		height: 45px;
		display: block;
		text-indent: -9999px;
		border-radius: 100%;
		background: $color-golden-dark;
		@include position(absolute, 20px 20px null null);
		@include max-screen($breakpoint-phone) {
			top: 15px;
		}

		&:before {
			width: 18px;
			height: 18px;
			content: '';
			@include background-image(close_white, svg);
			@include position(absolute, 13px null null 16px);

		}
	}
}
